<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__nav--list">
      <li class="footer__nav--list-item item__hover">
        <a class="footer__nav--list-link" href="">Link 1</a>
      </li>
      <li class="footer__nav--list-item item__hover">
        <a class="footer__nav--list-link" href="">Link 2</a>
      </li>
      <li class="footer__nav--list-item item__hover">
        <a class="footer__nav--list-link" href="">Link 3</a>
      </li>
      <li class="footer__nav--list-item item__hover">
        <a class="footer__nav--list-link" href="">Link 4</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__social">
    <ul class="footer__social--list">
      <li class="footer__social--list-item item__hover--social">
        <a class="footer__social--list-link" href="">FB</a>
      </li>
      <li class="footer__social--list-item item__hover--social">
        <a class="footer__social--list-link" href="">TW</a>
      </li>
      <li class="footer__social--list-item item__hover--social">
        <a class="footer__social--list-link" href="">G+</a>
      </li>
    </ul>
  </nav>
</footer>
