<header class="header">
  <section class="header__section">
    <a class="header__section--link" href="https://www.create-store.com/es/">
      <img
        class="header__section--img"
        src="./assets/images/logo.png"
        alt="logo"
      />
    </a>
    <h1 class="header__section--title">LayoutDeEjemplo</h1>
  </section>
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li class="header__nav--list-item item__hover">
        <a class="header__nav--list-link" href="">Link 1</a>
      </li>
      <li class="header__nav--list-item item__hover">
        <a class="header__nav--list-link" href="">Link 2</a>
      </li>
      <li class="header__nav--list-item item__hover">
        <a class="header__nav--list-link" href="">Link 3</a>
      </li>
      <li class="header__nav--list-item item__hover">
        <a class="header__nav--list-link" href="">Link 4</a>
      </li>
    </ul>
  </nav>
</header>
