// fonts
$font-web: "Roboto", sans-serif;

// colors
$color-primary: #ffffffff;
$color-secondary: #000000ff;

$color-header: #ff993eff;
$color-hover: #e74c3cff;
$color-links: #c0392bff;

$color-aside: #008000ff;
$color-background: #f0f0f0ff;
$color-quote: #d3d3d3ff;

$color-links-social: #874000ff;
