.main__article {
  padding-bottom: 18px;
  &--title {
    font-size: rem(23);
    font-weight: 800;
    letter-spacing: 1.2px;
    padding: 18px 0;
  }
  &--text {
    font-size: rem(18);
    line-height: 1.1;
  }
}
