.main__article {
  padding: 0 20px 19px 20px;
  &--title {
    font-size: rem(25);
    font-weight: 800;
    letter-spacing: 1.2px;
    padding: 20px 0;
  }
  &--text {
    font-size: rem(18);
    line-height: 1.2;
  }
}
