.main__aside {
  display: none;
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $color-aside;
    gap: 20px;
  }
  @include desktop {
    width: 275px;
    min-width: 275px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding-top: 15px;
  }
  &--section {
    @include tablet {
      width: 200px;
      height: 130px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $color-header;
    }
    @include desktop {
      width: 80%;
      height: 22%;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}
