.footer {
  width: 100%;
  height: 15vh;
  background-color: $color-header;
  font-family: $font-web;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 22vh;
  }
  @include desktop {
    height: 12vh;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {
    width: 80%;
    background-color: $color-links;
    @include desktop {
      width: 40%;
    }
    &--list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      &-item {
        text-align: center;
        padding: 12px 0;
      }
      &-item:hover {
        background-color: $color-hover;
      }
      &-link {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
  &__social {
    width: 35%;
    background-color: $color-links-social;
    @include desktop {
      width: 40%;
    }
    &--list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      &-item {
        text-align: center;
        padding: 12px 0;
      }
      &-item:hover {
        background-color: $color-hover-footer;
      }
      &-link {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}
