.header {
  width: 100%;
  height: 19vh;
  background-color: $color-header;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include tablet {
    height: 15vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    height: 12vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin-bottom: 28px;
    @include tablet {
      margin-left: 2%;
      margin-bottom: 0;
    }
    @include desktop {
      margin-bottom: 8px;
    }

    &--img {
      width: 100%;
      height: 100%;
    }
    &--title {
      font-size: rem(30);
    }
  }
  &__nav {
    width: 100%;
    background-color: $color-links;
    @include tablet {
      width: 40%;
      height: 40%;
      margin-right: 2%;
    }
    @include desktop {
      width: 40%;
      margin-right: 7.3%;
    }
    &--list {
      font-size: rem(18);
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      &-item {
        text-align: center;
        padding: 15px 0;
      }
      &-item:hover {
        background-color: $color-hover;
      }
      &-link {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}
